<h2>Alternatives</h2>

<p>I've found these similar services when I've been looking for anything already available.</p>

<ul>
    <li><a href="http://rss2lj.net/g+">Google+ to RSS</a> by David Mzareulyan</li>
    <li><a href="http://plusfeed2.appspot.com/">PlusFeed</a> by Russell Beattie and Siegfried Hirsch</li>
</ul>

<p>Beware because they where coded before Google+ public API was released, so probably they use an internal API that can change without prior advise.</p>
