<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(1927,1,"www09");
</script>
<!-- ClickTale end of Bottom part -->

<!-- http://observer.no.de/ -->
<script type="text/javascript">
(function(d,n){var e =d.createElement(n),s=d.getElementsByTagName(n)[0];e.async=true;e.src="http://commondatastorage.googleapis.com/client/observer.js#{observer:'4eda48cdb1261fa8391a5678'}";s.parentNode.insertBefore(e,s);})(document,"script");
</script>

