<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <xsl:template match="/rss">
        <html>
            <head>
                <title><xsl:value-of select="channel/title" /></title>
                <%- partial('head-partial') %>
            </head>
            <body class="feed">
                <div class="container">
                    <h1>
                        <xsl:element name="a">
                            <xsl:attribute name="href">
                                <xsl:value-of select="channel/link" />
                            </xsl:attribute>
                            <xsl:value-of select="channel/title" />
                        </xsl:element>
                    </h1>
                    <div class="alert-message block-message info">
                        <p>This is an RSS feed. Check <a href="/">home</a> page for details on how to use it.</p>
                    </div>
                    <table>
                        <xsl:for-each select="channel/item">
                            <tr>
                                <td>
                                    <xsl:element name="a">
                                        <xsl:attribute name="title">Permanent link</xsl:attribute>
                                        <xsl:attribute name="href"><xsl:value-of select="guid"/></xsl:attribute>
                                        <xsl:attribute name="target">_blank</xsl:attribute>
                                        <xsl:value-of select="title"/>
                                    </xsl:element>
                                </td>
                            </tr>
                        </xsl:for-each>
                    </table>
                </div>
                <%- partial('body-end-partial') %>
            </body>
        </html>
    </xsl:template>
</xsl:stylesheet>
