<p><strong>Export your <a href="https://plus.google.com/">Google+</a> activity to other services</strong> like Twitter, Facebook or LinkedIn.</p>

<div id="form-container">
    <form>
        User id <input name="user" placeholder="Eg, 123456789012345678901" />
        <input type="submit" value="Get the feed" />
    </form>
</div>

<h2>Usage</h2>

<ol>
    <li>Get your Google+ user id. It's the big number in the URL of <a href="https://plus.google.com/me">your user profile</a></li>
    <li>Introduce it in the form above, click "Get the feed" and copy the feed URL</li>
    <li>Use the URL on <a href="http://ifttt.com/">ifttt</a> (<a href="http://ifttt.com/recipes/1362">recipe for Twitter</a>), <a href="http://twitterfeed.com/">TwitterFeed</a> or similar services. Pro tip: these services check feeds regularly but you can publish new posts immediately by checking it manually.</li>
</ol>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
    $('form').submit(function() {
        var userId = $('form input[name=user]').val()
        if (! isNaN(parseInt(userId))) {
            location.href = userId
        } else {
            alert("'" + userId + "' is not valid user id")
        }
        return false
    })
</script>
