<div class="alert-message block-message info">
    <p><strong>Export your <a href="https://plus.google.com/">Google+</a> activity to other services</strong> like Twitter, Facebook or LinkedIn.</p>
</div>

<ol>
    <li>Get your Google+ user id. It's the big number in the URL of <a href="https://plus.google.com/me">your user profile</a></li>
    <li>
        <p>Enter it in the following form and click "Get the feed".</p>
        <div id="form-container">
            <form class="well">
                User id <input name="user" placeholder="Eg, 123456789012345678901" />
                <input type="submit" class="btn primary" value="Get the feed" />
            </form>
        </div>
    </li>
    <li>
        <p>Use this feed URL on <a href="http://ifttt.com/">ifttt</a> (<a href="http://ifttt.com/recipes/1362">recipe for Twitter</a>), <a href="http://twitterfeed.com/">TwitterFeed</a> or similar services.</p>
        <p>Pro tip: these services check feeds regularly but you can publish new posts immediately by checking it manually.</p>
    </li>
</ol>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
    $('form').submit(function() {
        var userId = $('form input[name=user]').val()
        if (! isNaN(parseInt(userId))) {
            open(userId)
        } else {
            alert("'" + userId + "' is not valid user id")
        }
        return false
    })
</script>
