<!DOCTYPE html>
<html>
    <head>
        <title>Google+ User Feed</title>
        <style>
            body { font: 14px sans-serif; max-width: 50em }
            #form-container { overflow: hidden }
            form { border: 1px solid #d2d2d2; padding: 10px; float: left; background: #f1f1f1 }
            form input[name='user'] { width: 16em }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <h1>Google+ User Feed</h1>

            <p>This is a simple service to <strong>export your <a href="https://plus.google.com/">Google+</a> activity to other services</strong> like Twitter, Facebook or LinkedIn.</p>

            <div id="form-container">
                <form>
                    User id <input name="user" placeholder="Eg, 123456789012345678901" />
                    <input type="submit" value="Get the feed" />
                </form>
            </div>

            <h2>Usage</h2>

            <ol>
                <li>Get your Google+ user id. It's the big number in the URL of <a href="https://plus.google.com/me">your user profile</a></li>
                <li>Introduce it in the form below and click "Get the feed". A new page will open with the feed</li>
                <li>Use this feed URL on <a href="http://ifttt.com/">ifttt</a>, <a href="http://twitterfeed.com/">TwitterFeed</a> or similar services. Pro tip: these services check feeds regularly but you can publish new posts immediately by checking it manually.</li>
            </ol>

            <h2>Alternatives</h2>

            <ul>
                <li><a href="http://rss2lj.net/g+">Google+ to RSS</a> by David Mzareulyan</li>
                <li><a href="http://plusfeed2.appspot.com/">PlusFeed</a> by Russell Beattie and Siegfried Hirsch</li>
            </ul>

            <p><a href="https://github.com/frosas/google-plus-user-feed">Source code</a></p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script>
            $('form').submit(function() {
                var userId = $('form input[name=user]').val()
                if (! isNaN(parseInt(userId))) {
                    open('users/' + userId + '/feed')
                } else {
                    alert("'" + userId + "' is not valid user id")
                }
                return false
            })
        </script>

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-25757791-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
