<!DOCTYPE html>

<title>Google+ User Feed</title>

<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="/main.css" />

<%- partial('analytics-partial') %>
<%- partial('clicktale-top-partial') %>

<div id="wrapper">
    <h1>Google+ User Feed</h1>

    <%- body %>

    <footer>
        <a href=".">Home</a> |
        <a href="alternatives">Alternatives</a> |
        <a href="https://github.com/frosas/google-plus-user-feed">Source code</a> |
        <a href="privacy-policy">Privacy policy</a>
    </footer>
</div>

<%- partial('clicktale-bottom-partial') %>
