<!DOCTYPE html>

<title>Google+ User Feed</title>

<%- partial('head-partial') %>

<div class="container">
    <h1>Google+ User Feed</h1>

    <%- body %>

    <footer>
        <a href=".">Home</a> |
        <a href="alternatives">Alternatives</a> |
        <a href="https://github.com/frosas/google-plus-user-feed">Source code</a> |
        <a href="privacy-policy">Privacy policy</a>
    </footer>
</div>

<%- partial('body-end-partial') %>
