/* Twitter Bootstrap fixes */

.alert a { text-decoration: underline }

/* Universal styling */

cite { font-style: italic }

.compact-box { overflow: hidden }
.compact-box > * { float: left }

.label.help { cursor: help }

/* Site specific */

.container { padding: 10px; width: auto; max-width: 60em }

h1 { margin-bottom: 10px }

#feed-form input[name='user'] { width: 20em }

body.feed .items > div a { display: block; padding: 10px; text-decoration: none; color: inherit }
body.feed .items > div a:hover { background: #FDF5D9 }
