@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body, rss { font: 14px open sans, sans-serif; max-width: 50em; margin: 1em }

h1, rss channel > title { font-size: 200%; font-weight: bold; display: block }

#form-container { overflow: hidden }
form { border: 1px solid #d2d2d2; padding: 10px; float: left; background: #f1f1f1 }
form input[name='user'] { width: 16em }

rss item { display: block; margin: 1em 0 }
rss link, rss guid { display: block; font-size: 80%; color: #aaa }
rss pubDate { display: none }
